spring:
  profiles:
    active: local
  application:
    name: xy-ai-code-mother-backend

  # session 配置
  session:
    store-type: redis
    # session 30 天过期
    timeout: 2592000

  # mysql
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/xy_ai_code_mother
    username: root
    password: 123456
  # redis
  data:
    redis:
      host: localhost
      port: 6379
      database: 0
      password:
      ttl: 3600 # 缓存过期时间（秒）
server:
  port: 8123
  servlet:
    context-path: /api
    #cookie30天过期
    session:
      cookie:
        max-age: 2592000
# springdoc-openapi
springdoc:
  group-configs:
    group: 'default'
    packages-to-scan: com.yupi.yuaicodemother.contro11er
# knife4j
knife4j:
  enable: true
  setting:
    language: zh_cn