spring:
  application:
    name: xy-ai-code-mother-backend
  autoconfigure:
    exclude: org.springframework.boot.autoconfigure.jdbc.DataSourceAutoConfiguration
server:
  port: 8123
  servlet:
    context-path: /api
# springdoc-openapi
springdoc:
  group-configs:
    group: 'default'
    packages-to-scan: com.yupi.yuaicodemother.contro11er
# knife4j
knife4j:
  enable: true
  setting:
    language: zh_cn